{% extends 'base.html.twig' %}

{% block title %}Liste des Documents{% endblock %}

{% block body %}
	<h1>Liste des Documents</h1>
	{% include "navbar/navbar.html.twig" %}
	<table class="table">
		<thead>
			<tr>
				<th>Pdf</th>
				<th>Modifié le </th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
				<tr>
					<td>
						<a href="{{ asset('uploads/pdfs/' ~ document.pdf) }}" download>
							Télécharger le PDF
						</a>
					</td>
					<td>{{ document.updatedAt ? document.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_document_show', {'id': document.id}) }}">Voir</a>
						<a href="{{ path('app_document_edit', {'id': document.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas de documents trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_document_new') }}">Créer un nouveau document</a>
{% endblock %}
