{% extends 'base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}


{% block body %}
	<h1>Rendez-vous</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Type</th>
				<td>{{ appointment.type.name }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ appointment.email }}</td>
			</tr>
			<tr>
				<th>Animal</th>
				<td>{{ appointment.animal }}</td>
			</tr>
			<tr>
				<th>Statut</th>
				<td>{{ appointment.status.name }}</td>
			</tr>
			<tr>
				<th>Date de la demande</th>
				<td>{{ appointment.submittedDate ? appointment.submittedDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ appointment.description }}</td>
			</tr>
			<tr>
				<th>Date souhaitée</th>
				<td>{{ appointment.wantedDate ? appointment.wantedDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Nom de famille</th>
				<td>{{ appointment.lastname }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ appointment.firstname }}</td>
			</tr>
			<tr>
				<th>Numéro de téléphone</th>
				<td>{{ appointment.phoneNumber }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_appointment_index') }}">Reour à la liste</a>

	<a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Modifier</a>

	{{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
