{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <h1>Request index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Email</th>
                <th>Animal</th>
                <th>Status</th>
                <th>SubmittedDate</th>
                <th>Description</th>
                <th>WantedDate</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.type }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.animal }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.submittedDate ? request.submittedDate|date('Y-m-d') : '' }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.wantedDate ? request.wantedDate|date('Y-m-d') : '' }}</td>
                <td>{{ request.lastname }}</td>
                <td>{{ request.firstname }}</td>
                <td>{{ request.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_request_show', {'id': request.id}) }}">show</a>
                    <a href="{{ path('app_request_edit', {'id': request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_request_new') }}">Create new</a>
{% endblock %}
