<nav >
	<ul>
		<li><a href="{{ path('app_home') }}">Accueil</a></li>
		<li><a href="{{ path('profile') }}">Mon profil</a></li>
		<li><a href="{{ path('app_document_index') }}">Documents</a></li>
		<li><a href="{{ path('app_animal_folder_index') }}">Animaux</a></li>
		<li><a href="{{ path('app_appointment_index') }}">Rendez-vous</a></li>
	</ul>
</nav>